@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/web/hinted-SegoeUI-Semibold.woff2') format('woff2'),
    url('../fonts/web/hinted-SegoeUI-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/web/hinted-SegoeUI-Light.woff2') format('woff2'),
    url('../fonts/web/hinted-SegoeUI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/web/hinted-SegoeUI.woff2') format('woff2'),
    url('../fonts/web/hinted-SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/web/hinted-SegoeUI-Bold.woff2') format('woff2'),
    url('../fonts/web/hinted-SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

