html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.text {
  position: fixed;
  top: 28px;
  left: 0;
  width: 100%;
  height: 200px !important;
  z-index: 10;
}

section {
  height: 289px !important;
}

section.intro {
  background: url("/img/about/1.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 200px !important;
}

svg text {
  text-anchor: middle;
}

svg #alpha {
  fill: #666666;
}

svg #title {
  letter-spacing: -2px;
  font-size: 6em;
  font-weight: 800;
}

svg #subtitle {
  letter-spacing: 8px;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}

svg #base {
  fill: black;
  -webkit-mask: url(#mask);
          mask: url(#mask);
}

.top-nav {
  height: 43px !important;
}

/*@keyframes alpha {
  50%{fill: #000;}
}*/

