body {
    margin: 0;
    padding: 0;
}

.top-nav {
    display: grid;
    background-color: #4dc0b5;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.top-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.top-nav a {
    text-decoration: none;
}