ul.breadcrumb {
	margin-left: calc(25% + 35px);
	margin-top: 25px;
	padding: 10px 16px;
	list-style: none;
	background-color: transparent;

	li {
		display: inline;
		font-size: 18px;
		color: black;

		a {
			color: rgba(0,0,0, 0.7);
			text-decoration: none;

			&:hover {
				color: rgba(0,0,0, 0.3);
				transition: color 0.5s;
				text-decoration: none;
			}
		}

	}

	li + li:before {
		padding: 8px;
		color: black;
		content: "\003e";
	}
}