@import "breadcrumb";
@mixin gradient($from, $to, $stop: 100%) {
	/* fallback/image non-cover color */
	background-color: $from;

	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));

	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

	/* Opera 11.10+ */
	background-image: -o-linear-gradient(left, $from 0%, $to $stop);

	/* IE10+ */
	background: -ms-linear-gradient(left, $from 0%, $to $stop);

	/* Standard */
	background: linear-gradient(to right, $from 0%, $to $stop);

	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to', GradientType=1);
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: white !important;

	.body-wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.wrapper {
		flex: 1 0 auto;
		margin-top: 25px;
		display: grid;
		grid-template-columns: repeat(12, [col-start] 1fr);
		grid-gap: 0px;
		width: 100%;

		.item {
			height: auto;
			text-align: center;
			width: 300px;

			.item-header {
				@include gradient(#49BDA9, #8D6BA6);
				height: 30px;
				padding-top: 7px;
				padding-bottom: 7px;
				color: white;
			}

			.item-image {
				height: 300px;
				text-align: center;
				margin-top: 25px;
				transition: filter .3s ease-in-out;
				-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
				filter: grayscale(100%); /* FF 35+ */

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					display: block;
				}
			}

			.item-image:hover {
				-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
				filter: grayscale(0%); /* FF 35+ */
			}
		}

		.item:hover {
			cursor: pointer;
		}

		.item-2 {
			grid-column: col-start 3 / span 1;
			.item-header {
				@include gradient(#49BDA9, #6B94A7);
			}
		}

		.item-3 {
			grid-column: col-start 5 / span 1;
			.item-header {
				@include gradient(#629FA8, #7786A7);
			}
		}

		.item-4 {
			grid-column: col-start 8 / span 1;
			.item-header {
				@include gradient(#7884A7, #8D6BA6);
			}
		}

		.item-5 {
			grid-column: col-start 10 / span 1;
			.item-header {
				@include gradient(#7884A7, #8D6BA6);
			}
		}
	}
}
