.sidebar {
  height: 100%;
  background-color: transparent;
  width: 25%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 5px;
}

.sidebar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  width: 100%;
  background-color: white;
  color: #49BDA9;
  border: none;
  margin-top: 10px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  border: none;
  background: white;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar a:hover {
  color: #49BDA9;
}

.dropdown-container {
  display: none;
  background-color: white;
  padding-left: 8px;
}

.fa-plus {
  font-size: 10px;
}

